.jumbotron {
    background-image: url("../images/startsida.jpg");
}
.container h1 {
    font-size: 1.8rem;
}
.container h2 {
    font-size: 1.5rem;
}
.open {
    text-decoration: underline;
    color: red;
    background-color: yellow;
    cursor: pointer;
} 
.closed {
    color: blue;
    background-color: red;
}
