body {
    background-color: #fdfbe3;
}
.container {
    margin-top: 1rem;
    padding: 0.3rem;
    background-color: white;
    border: #ccc solid 1px;
}

.breadcrumb {
    background-color: rgba(255, 255, 255, 0.3);
    font-size: .8rem;
    }

.jumbotron {
    padding-bottom: 0.01rem;
}
.card-deck {
    margin-bottom: 2rem;
}